<a href="https://colab.research.google.com/github/guimasuko/project/blob/main/Aula01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
!pip install yfinance --upgrade --no-cache-dir
!pip install investpy

Requirement already satisfied: yfinance in c:\users\usuario\anaconda3\lib\site-packages (0.1.70)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\usuario\anaconda3\lib\site-packages (from yfinance) (0.0.10)
Requirement already satisfied: pandas>=0.24.0 in c:\users\usuario\anaconda3\lib\site-packages (from yfinance) (1.3.4)
Requirement already satisfied: requests>=2.26 in c:\users\usuario\anaconda3\lib\site-packages (from yfinance) (2.26.0)
Requirement already satisfied: numpy>=1.15 in c:\users\usuario\anaconda3\lib\site-packages (from yfinance) (1.22.2)
Requirement already satisfied: lxml>=4.5.1 in c:\users\usuario\anaconda3\lib\site-packages (from yfinance) (4.6.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\usuario\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\usuario\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\usuario\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\usuario\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\usuario\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\usuario\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\usuario\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: investpy in c:\users\usuario\anaconda3\lib\site-packages (1.0.8)
Requirement already satisfied: numpy>=1.17.2 in c:\users\usuario\anaconda3\lib\site-packages (from investpy) (1.22.2)
Requirement already satisfied: requests>=2.22.0 in c:\users\usuario\anaconda3\lib\site-packages (from investpy) (2.26.0)
Requirement already satisfied: pytz>=2019.3 in c:\users\usuario\anaconda3\lib\site-packages (from investpy) (2021.3)
Requirement already satisfied: pandas>=0.25.1 in c:\users\usuario\anaconda3\lib\site-packages (from investpy) (1.3.4)
Requirement already satisfied: setuptools>=41.2.0 in c:\users\usuario\anaconda3\lib\site-packages (from investpy) (58.0.4)
Requirement already satisfied: lxml>=4.4.1 in c:\users\usuario\anaconda3\lib\site-packages (from investpy) (4.6.3)
Requirement already satisfied: Unidecode>=1.1.1 in c:\users\usuario\anaconda3\lib\site-packages (from investpy) (1.2.0)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\usuario\anaconda3\lib\site-packages (from pandas>=0.25.1->investpy) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\usuario\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.25.1->investpy) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\usuario\anaconda3\lib\site-packages (from requests>=2.22.0->investpy) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\usuario\anaconda3\lib\site-packages (from requests>=2.22.0->investpy) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\usuario\anaconda3\lib\site-packages (from requests>=2.22.0->investpy) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\usuario\anaconda3\lib\site-packages (from requests>=2.22.0->investpy) (3.2)

In [4]:
import yfinance as yf
import investpy as inv

In [5]:
import time
import datetime

### Taxa de juros Brasil (Selic)

Códigos para obtenção de dados do bc:

https://www3.bcb.gov.br/sgspub/localizarseries/localizarSeries.do?method=prepararTelaLocalizarSeries

In [6]:
# função que retorna dados do banco central através de códigos
def consulta_bc(codigo_bcb):
  url = 'http://api.bcb.gov.br/dados/serie/bcdata.sgs.{}/dados?formato=json'.format(codigo_bcb)
  df = pd.read_json(url)
  df['data'] = pd.to_datetime(df['data'], dayfirst=True)
  df.set_index('data', inplace=True)
  return df

In [7]:
# código da meta da taxa de juros brasileira (selic)
selic = consulta_bc(432)

In [8]:
selic.rename(columns={'valor': 'Selic'}, inplace=True)
selic.head()

            Selic
data
1999-03-05   45.0
1999-03-06   45.0
1999-03-07   45.0
1999-03-08   45.0
1999-03-09   45.0

### Dólar e Ibovespa

In [10]:
tickers = "^BVSP USDBRL=X"
dollar_ibov = yf.download(tickers, start="2007-01-01")["Close"]

In [ ]:
dollar_ibov.rename(columns={'USDBRL=X': 'Dollar', '^BVSP': 'Ibovespa'}, inplace=True)

In [ ]:
dollar_ibov.head()

            Dollar  Ibovespa
Date
2007-01-01  2.1325       NaN
2007-01-02  2.1310   45383.0
2007-01-03  2.1345   44445.0
2007-01-04  2.1390   44020.0
2007-01-05  2.1470   42245.0

### Unindo os dois dataframes.

In [ ]:
df = pd.merge(dollar_ibov, selic, left_index=True, right_index=True)
df

              Dollar      Ibovespa  Selic
2007-01-01  2.132500           NaN  13.25
2007-01-02  2.131000   45383.00000  13.25
2007-01-03  2.134500   44445.00000  13.25
2007-01-04  2.139000   44020.00000  13.25
2007-01-05  2.147000   42245.00000  13.25
...              ...           ...    ...
2022-02-09  5.258400  112461.00000  10.75
2022-02-10  5.234500  113359.00000  10.75
2022-02-11  5.248700  113495.00000  10.75
2022-02-14  5.249956  113807.00000  10.75
2022-02-15  5.176000  114223.59375  10.75

[3944 rows x 3 columns]